DB_HOST='localhost'
DB_PORT='5432'
DB_USER='postgres'
DB_PASS='postgres'
DB_NAME='authdb'
SECRET_KEY="de229a927d55ab0842e1f966be08dd7f64287533195cff77d15cf5c1a5a45100"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30